logs/
temp/
contrib/
docs/
nginx.exe
html/index.html
html/50x.html
openssl_key_generation.txt
conf/fastcgi.conf
conf/fastcgi_params
conf/koi-utf
conf/koi-win
conf/scgi_params
conf/uwsgi_params
conf/win-utf
*.pid
*.log

